/* $mainColor: red;
$textColor: white; */

.card {
    width: 300px;
    margin: 20px;
    padding: 50px;
  }

  .name {
    font-weight: 800;
    font-size:larger;
  }

.pic {
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.text {
    text-align: justify;
}

.button {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: 0;
  height: 30px;
  width: 150px;
  font-weight: bold;
}
.selected {
  border: 2px solid orange;
}
